.book-info{
    background-color: rgb(90, 60, 23);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    margin-top: 10px;
   
    border-radius: 10px;
}

.book-info img{
    border-radius: 10px;
    border: 2px solid black;
}

.book-info h4 {
    max-width: 80%;
    max-height: 40%;
    
    margin-left: auto;
    margin-right: auto;
  
}

.buttons{
    padding-bottom: 20px;
}


.underLinePointerOnHover:hover{
    cursor: pointer;
    text-decoration:underline;
}

@media screen and (max-width: 1100px) {
    .book-info{
        font-size: small;
    }
}