.postThumbnail{
    display: flex;
    background-color: rgb(87, 62, 25);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
   
}

.BookThumbnail{
   border-right: 2px solid black;
   align-content: center;
   align-items: center;
   width: 25%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-bottom: 15px;
}

.BookThumbnail img{
    max-width: 100px;
    height: auto;
    vertical-align: auto;
    top:50%;
   
}

.commentContents{
    text-align: left;
    width: 75%;
}

.commentContents h3{
    margin-left: 5%;
}

.commentContents h2{
    margin-left:5%;
}

.commentContents h4{
    margin-left:5%;
}

.commentContents:hover{
    cursor: pointer;
}


