.Profile{
    background-color: rgb(87, 66, 40);
    width: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

input{
    width: 50%;
}

p{
    margin-bottom: -3%;
}

.DeleteUser{
    margin-top:2%;
}

.DeleteUser button{
    background-color: red;
    color: white;
}

.prof-photo{
    width: auto;
    max-height: 200px;
    border-radius: 50%;
    border: solid black 2px;
}

.PostOrReply{
    display: flex;
    justify-content:center;
    gap: 50px;
}

.isSelected{
    text-decoration: underline;
}

.pointer:hover{
    cursor:pointer;
}

.sideBySideButtons{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    gap: 20px;
}

.sideBySideButtons button{
    width: 80px;
}