.Profile{
    background-color: rgb(87, 66, 40);
    width: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    border-radius: 10px;
}

input{
    width: 50%;
}

p{
    margin-bottom: -3%;
}

.DeleteUser{
    margin-top:2%;
}

.DeleteUser button{
    background-color: red;
    color: white;
}


.image-circle-cropper{
    width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-size:cover;
  margin-left: auto;
  margin-right: auto;
  border: black 2px solid;
  margin-top: 0;
  background-position: center;
  
}

/* .prof-photo{
    display: inline;
  margin: 0 auto;
  width: ;
    
} */

.PostOrReply{
    display: flex;
    justify-content:center;
    gap: 50px;
}

.isSelected{
    text-decoration: underline;
}

.pointer:hover{
    cursor:pointer;
}

.sideBySideButtons{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    gap: 20px;
}

.sideBySideButtons button{
    width: 80px;
}

