.ReplySub{
    background-color: rgb(90, 62, 30);
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    border: 2px solid black;
    margin-top: 20px;
}

.replyInputGroup h2{
    margin-bottom: -20px;
}


.replyInputGroup h4{
    margin-bottom: -50px;
    text-align: left;
    margin-left: 25%;
}
.replyInputGroup{
    margin-bottom: 10px;
}

#reply{
    height: 100px;
}

textarea{
    width:75%;
    height: 120px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}