.reply-thumbnail{
    
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: flex;
    background-color: rgb(90, 62, 30);
    margin-top: 2%;
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 10px;
}


.reply-body{

    width:90%;
    display:flex;
    flex-direction: column;
    border-right: 2px solid black;
    padding-left: 8px;
    padding-right: 8px;
    word-wrap: break-word;


}

.like-dislike{
    width: 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.like-dislike button{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.user-reply-info{
    display: flex;
    height: 50px;
    justify-content: center;
    
}

.user-reply-info img{
    margin-top: 5px;
    margin-right: 5px;
    height: 75%;
    top: 50%;
    border-radius: 50%;
}

.reply-text{
    height: auto;
    
}

.reply-text h4{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pointerOnHover:hover{
    cursor: pointer;
}

.underLineOnHover:hover{
    text-decoration: underline;
}

.collapsed{
    max-height: 190px;
    overflow: hidden;
}

.expandCollapse{
    margin-top: 20px;
    margin-bottom: 5px;
}

.expandCollapse:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .reply-thumbnail{
        font-size: small;
    }
}


@media screen and (max-width:480px) {
    .reply-thumbnail{
        width: 85%;
        font-size: x-small;
    }
}