input{
    margin-top: 5%;
    width: 35%;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid black;
}

.BookSearchResults{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 500);
    grid-gap: 15px;
    margin-top: 2%;
}

.SearchHeader{
    margin-bottom: -5%;
}

.resultNav{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}