.banner{
    background-color: rgb(98, 69, 31);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    height: fit-content;
    margin-top: -12px;
    position:sticky;
    top:0;
    width: 100%;
    padding-left: 5px;
    padding-right: 13px;
    margin-left: -10px;
    border-bottom: solid black 2px;
    z-index: 1;
}

.navLink{
    color:white;
    height: min-content;
    text-decoration: none;
    margin-top: 7%;
}

.navLink h2 {
    margin: 5px;
}

.banner h1{
    padding-left: 10px;
    margin-top: 1.5%;
    text-shadow: 2px 2px black;
    
}

.banner h1:hover {
    cursor: pointer;
}

.navBarGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: no wrap;
    gap:10px;
    vertical-align: middle;
    max-width: 33%;
    max-height: 100px;

    
}

.navBarItem{
    align-self: start; 
    top:50%;
    
}

#logo{
    width: auto;
    height: 90%;
    margin-top: 1.5%;
    
}

#centerNavBar{
    width: 50%;
    justify-content: space-between;
}



#centerNavBar h2:hover{
    background-color: rgb(82, 59, 28);
    cursor: pointer;
}

#centerNavBar h2:active{
    background-color: rgb(148, 126, 97);
    cursor: pointer;
}

.navBarGroup img{
    width: auto;
    height: 75%;
    margin-top: 6%;
}

.navBarGroup button{
    margin-top: 20%;
}

#pfp{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 2px solid black;
    display: relative;
    background-size: cover;
    margin-top: 7px;
}

#pfp:hover{
    cursor:pointer;

}

.active{
    background-color: rgb(82, 59, 28);
    border-width: 10px;
    border-color: black;
}

.dropDown{
    position: fixed;
    background-color: rgb(96, 74, 48);
    border-radius: 10px;
    z-index: 5;
    top: 120px;
    right: 18px;
    border: solid black 2px;
    padding: 5px;
}

.dropDown li{
    list-style: None;
    text-align: left;
    margin-left: 0;
    padding:0;

}

.dropDown li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.dropDown li:last-child{
    margin-top: 10px;
    border-top: black solid 1px;
    padding-top: 10px;
    margin-bottom: 0;

}

.dropDown ul{
    margin-left: 0;
    padding: 0;
}

.dropDown::before{
    content: "";
    position: absolute;
    background-color: rgb(96, 74, 48);
    transform: rotateZ(45deg);
    width: 20px;
    height: 20px;
    top:-12px;
    right: 28px;
    border-top: 2px black solid;
    border-left: 2px black solid;
    background-position: center;


}


.dropDownIsInactive{
    opacity: 0;
    top: 110px;
    transform: scale(0);
}

.dropDownIsActive{
    top: 120px;
    opacity: 1;
    transition: opacity 0.5s, top 0.5s;

}

@media screen and (max-width: 1100px) {
    .banner h1{
        display: none;
        transform: scale(0);
    }

    #logo{
        margin-left: 10px;
        margin-right: 0;
        padding-right: 0;
    }
    
    #centerNavBar{
        margin-left: 0;
        padding-left: 0;
        margin-right: 20%;
    }

}

@media screen and (max-width:800px) {
    #centerNavBar{
        margin-left: -70px;
        gap: 5px;
        font-size: 15px;
        margin-top: 10px;
        
    }
    #pfp{
        height: 4rem;
        width: 4rem;
        margin-top: 15px;
    }
    
}

@media screen and (max-width:1377px) {
    .banner h1{
        margin-top:10px;
        padding-top: 0;
    }

}